<script src="/blog/js/app-content{{#if production}}.min{{/if}}.js"></script>

<div class="container spaced-top" ng-controller="contentCtrl" ng-init="displaytitle='{{blog.displaytitle}}';getPosts();getComments()">
  <div class="row">
    <div class="col-md-9">
      <div class="cbg blog-header">
        {{#if user.admin}}
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="edit">Edit</a></li>
            <li><a href="#" ng-click="remove()">Remove</a></li>
          </ul>
        </div>
        {{/if}}
        <h1>{{blog.title}}</h1>
        <p>{{blog.abstract}}</p>
        {{#if blog.tags}}
        <p>{{#each blog.tags}}<a href="/blog/archive?t={{this}}" class="label label-default">{{this}}</a>{{/each}}</p>
        {{/if}}
      </div>
      <div class="cbg blog-body">
{{#md}}
{{{blog.body}}}
{{/md}}
      {{#if blog.date}}
      <p class="blog-date align-right">Last edited on {{blog.date}}</p>
      {{/if}}
      </div>
      <div class="cbg">
        <h3>Comments</h3>
        <div id="comments-loading" class="loading fade in"></div>
        <div class="blog-comments">
          <p ng-if="noComment">Nobody has posted thier comments yet.</p>
          <div class="blog-comment" ng-repeat="comment in comments">
            <div class="blog-comment-body">\{{comment.content}}</div>
            <div class="blog-comment-footer">- <a href="/profile/\{{comment.author}}">\{{comment.author}}</a>, <span class="blog-comment-date">\{{comment.date}}</span></div>
          </div>
          <div class="blog-comment-new">
            {{#if user}}
            <div class="form-group\{{err.comment?' has-error':''}}">
              <textarea class="form-control" name="comment" id="comment" rows="3" ng-model="newComment" placeholder="New Comment"></textarea>
            </div>
            <p><button class="btn btn-success" ng-click="postComment()"><i class="glyphicon glyphicon-send"></i> Send</button></p>
            {{else}}
            <p>Please <a href="/login?redirect=blog/archive/{{blog.displaytitle}}" class="btn btn-primary">Sign in</a> or <a href="/register" class="btn btn-default">Register</a> to post comment here.</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="cbg">
        <h3>Other posts</h3>
        <div id="other-posts-loading" class="loading small fade in"></div>
        <div class="other-posts list-group">
          <a href="/blog/archive/\{{item.displaytitle}}/" class="list-group-item" ng-repeat="item in otherposts">
            <h4 class="list-group-item-heading">\{{item.title}}</h4>
            <p class="list-group-item-text">\{{item.abstract}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>