<script src="/blog/js/angular/angular-file-upload{{#if production}}.min{{/if}}.js"></script>
<script src="/blog/js/app-editor{{#if production}}.min{{/if}}.js"></script>

<div class="container spaced-top">
  <div class="row">
    <div class="col-md-12">
      <h1>{{#if blog}}Edit{{else}}New{{/if}} Blog</h1>
    </div>
    <form class="col-md-9" ng-controller="editorCtrl"{{#if blog}} ng-init="title='{{blog.title}}';abstract='{{blog.abstract}}'"{{/if}}>
      <div class="cbg">
        <div class="form-group\{{err.title? ' has-error': ''}}"><input type="text" id="title" name="title" class="form-control" placeholder="Blog title" ng-model="title"></div>
        <div class="form-group\{{err.abstract? ' has-error': ''}}"><input type="text" id="abstract" class="form-control" placeholder="Blog Abstract" ng-model="abstract"></div>
        <div id="blog-tags" class="blog-tags form-control \{{focus? 'focus': ''}}"{{#if blog}} data-value="{{blog.tags}}"{{/if}}>
          <span class="label label-default" ng-repeat="tag in tags">\{{tag}} <a href="#" ng-click="removeTag($index)"><i class="glyphicon glyphicon-remove"></i></a></span>
          <div class="input-tag">
            <button class="btn btn-primary btn-xs" type="button" ng-click="addTag()"><i class="glyphicon glyphicon-plus"></i></button>
            <input type="text" id="tags" name="tags" placeholder="Tag" ng-model="input" ng-blur="focus=false" ng-focus="focus=true" typeahead="tag for tag in getTags($viewValue) | filter:$viewValue | limitTo:8" typeahead-loading="loadingTags" typeahead-wait-ms="500">
          </div>
        </div>
      </div>
      <div class="cbg">
        <div class="form-group blog-content-editor">
          <div class="btn-toolbar">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="toolbar.bold" ng-click="insert({wrap: '**'})"><i class="glyphicon glyphicon-bold"></i></button>
              <button type="button" class="btn btn-default" ng-model="toolbar.italic" ng-click="insert({wrap: '__'})"><i class="glyphicon glyphicon-italic"></i></button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="toolbar.link" ng-click="insert({simple: '[TEXT](HREF)'})"><i class="glyphicon glyphicon-link"></i></button>
              <button type="button" class="btn btn-default" ng-model="toolbar.quote" ng-click="insert({home: '> '})"><i class="glyphicon glyphicon-comment"></i></button>
              <button type="button" class="btn btn-default" ng-model="toolbar.code" ng-click="insert({wrap: '`'})"><i class="glyphicon glyphicon-stop"></i></button>
              <button type="button" class="btn btn-default" ng-model="toolbar.image" ng-click="openModal()"><i class="glyphicon glyphicon-picture"></i></button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="toolbar.ul" ng-click="insert({home: '* '})"><i class="glyphicon glyphicon-list"></i></button>
              <button type="button" class="btn btn-default" ng-model="toolbar.li" ng-click="insert({home: '0. '})"><i class="glyphicon glyphicon-sort-by-order"></i></button>
              <button type="button" class="btn btn-default" ng-model="toolbar.h" ng-click="insert({home: '# '})"><i class="glyphicon glyphicon-header"></i></button>
              <button type="button" class="btn btn-default" ng-model="toolbar.hr" ng-click="insert({line: '* * *'})"><i class="glyphicon glyphicon-minus"></i></button>
            </div>
          </div>
          <div class="form-group\{{err.body? ' has-error': ''}}">
            <textarea name="body" id="body" rows="24" class="form-control" placeholder="Blog content">{{#if blog}}{{blog.body}}{{/if}}</textarea>
          </div>
        </div>
        <p><button class="btn btn-primary" ng-click="submit()">{{#if blog}}Update{{else}}Submit{{/if}}</button></p>
      </div>
    </form>
  </div>
</div>

<script type="text/ng-template" id="imgUpload.html">
<div class="modal-header">
  <h3>Image upload</h3>
</div>
<div class="modal-body">
  <div class="well img-drop-zone" ng-file-drop ng-file-over>
      Drop image here, or <button class="btn btn-primary" ng-click="showFileInput=1">Choose an image</button>
      <input ng-file-select type="file" name="imageInput" id="imageInput" accept="image/*" ng-show="showFileInput">
  </div>
  <div class="progress progress-striped" style="">
    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
</script>