<script src="/blog/js/app-index{{#if production}}.min{{/if}}.js"></script>
<div class="starshard-header">
  <div class="blog-carousel" ng-controller="carouselCtrl">
    <carousel interval="interval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img class="carousel-img" ng-src="/usercontent/blog/\{{slide.image}}">
        <div class="carousel-caption">
          <h4>Slide \{{$index + 1}}</h4>
          <p>\{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class="container spaced-top">
  <div class="row" ng-controller="blogThumbCtrl" ng-init="loading='loading-featured';getBlogs(2, 'Featured')">
    <h1><span class="h-indicator cbg">Featured</span></h1>
    <div id="loading-featured" class="loading col-md-12"></div>
    <div class="col-md-6" ng-repeat="blog in blogs">
      <div class="cbg">
        <h3><a href="/blog/archive/\{{blog.displaytitle}}/">\{{blog.title}}</a></h3>
        <p><span class="label label-default" ng-repeat="tag in blog.tags">\{{tag}}</span></p>
        <p>\{{blog.abstract}}</p>
        <p class="blog-date">\{{blog.date}}</p>
      </div>
    </div>
  </div>
  <div class="row" ng-controller="blogThumbCtrl" ng-init="loading='loading-recent';getBlogs(3)">
    <h1><span class="h-indicator cbg">Recent</span></h1>
    <div id="loading-recent" class="loading col-md-12"></div>
    <div class="col-md-4" ng-repeat="blog in blogs">
      <div class="cbg">
        <h3><a href="/blog/archive/\{{blog.displaytitle}}/">\{{blog.title}}</a></h3>
        <p><span class="label label-default" ng-repeat="tag in blog.tags">\{{tag}}</span></p>
        <p>\{{blog.abstract}}</p>
        <p class="blog-date">\{{blog.date}}</p>
      </div>
    </div>
  </div>
</div>