<script src="/blog/js/app-list{{#if production}}.min{{/if}}.js"></script>

<div class="container spaced-top">
  <div class="row">
    <div class="col-md-8">
      <div class="cbg">
        {{#if blogs}}
        {{#each blogs}}
        <div class="blog-summary">
          <h2><a href="/blog/archive/{{displaytitle}}/">{{title}}</a></h2>
          <p>{{#each tags}}<span class="label label-default">{{this}}</span>{{/each}}</p>
          <p>{{abstract}}</p>
          <p class="blog-date">{{date}}</p>
        </div>
        {{/each}}
        {{else}}
        <h2>No blogs were found.</h2>
        {{/if}}
      </div>
    </div>
    <div class="col-md-4">
      <form action="/blog/archive" class="cbg" ng-controller="tagSearchCtrl">
        <h3>Filter</h3>
        <div class="input-group">
          <input type="text" name="t" autocomplete="off" ng-model="searchTags" placeholder="Search tags" typeahead="tag for tag in getTags($viewValue) | filter:$viewValue | limitTo:8" typeahead-loading="loadingTags" typeahead-wait-ms="800" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
        <div ng-show="loadingTags" class="pull-left loading small"></div>
        <p class="text-subtle">* You can use tags to filter blogs.</p>
      </form>
    </div>
  </div>
</div>